body{
    background-color: rgb(212, 81, 81);
    color: white;
}


h1{
    color: #f5e872;
    font-size: 58px;
    font-weight: bold;

}


h2{
    color: #f5e872;
    font-size: 30px;
    font-weight: bold;
}


.d_none{
    display: none;
}


.width-100{
    width: 100%;
}


.yellow-font{
    color: #f5e872;
}

.main-container{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.btn{
    border-radius: 0px;
    padding-bottom: 0px;
    padding-top: 0;
}


.loading-spinner{
    top:0;
    left:0;
    width:15rem;
    height:15rem;

    display:flex;
    justify-content:center;
    align-items:center;
    object-fit: cover;
}


.more-pokemon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}


.padding-see-more-Button{
    padding: 6px 19px 6px 19px;
}


.headline-order{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}