.overlay{
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;

    z-index: 2;
}

.centered-overlay-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 28rem;
}

.card-title-extended {
    font-size: 48px;
}

.card-body-extended {
    height: 50px;
    
}

.button-order{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

    display: flex;
    justify-content:center;
    align-items:flex-start;
    cursor: pointer;
}

.button-shape{
    width: 100%;

}

.font-colour-white{
    color: white;
}

.main-div{
    background-color: rgb(212, 81, 81);
}

.stats-div{
    padding: 15px;
    background-color: rgb(212, 81, 81);
}

.table {
    margin: 0;
}


.margin-null{
    margin: 0;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.evoChain-card-order{
    background-color: #f5e872;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}